$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;
$base-font: $sans-serif;
$header-font: $serif;
$buttonBackgroundColor: #673AB7;
$buttonForegroundColor: #fff;